﻿@model Zurita.Mvc.ViewModels.Mascota.MascotaViewModel

@{
}

<h2>Nueva Mascota</h2>


@using (Ajax.BeginForm("Create", new { Controller = "Mascota" },
    new AjaxOptions
    {
        HttpMethod = "POST",
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = "modal-body",
        OnSuccess = "mascota.success('create')"
    },
    htmlAttributes: new { id = "createForm" })
    )
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="form-group">
        @Html.LabelFor(model => model.Nombre)
        @Html.TextBoxFor(model => model.Nombre, new { @class = "form-control", @placeholder = "Nombre" })
        @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Descripcion)
        @Html.TextAreaFor(model => model.Descripcion, new { @class = "form-control", @placeholder = "Descripción", @style = "resize:none" })
        @Html.ValidationMessageFor(model => model.Descripcion, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Nacimiento)
        @Html.TextBoxFor(model => model.Nacimiento, new { @class = "form-control", @placeholder = "Nacimiento", @type = "date" })
        @Html.ValidationMessageFor(model => model.Nacimiento, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Color)
        @Html.TextBoxFor(model => model.Color, new { @class = "form-control", @placeholder = "Color" })
        @Html.ValidationMessageFor(model => model.Color, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Especie)
        @Html.DropDownListFor(model => model.Especie, ViewBag.Especies as List<SelectListItem>, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Especie, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Raza)
        @Html.TextBoxFor(model => model.Raza, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Raza, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Sexo)
        @Html.DropDownListFor(m => m.Sexo, ViewBag.Sexos as List<SelectListItem>, new { @class = "form-control" })

        @Html.ValidationMessageFor(model => model.Sexo, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.EstaAdoptado)
        <div class="checkbox">
            @Html.EditorFor(model => model.EstaAdoptado)
            @Html.ValidationMessageFor(model => model.EstaAdoptado, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.UrlVideoYoutube)
        @Html.TextBoxFor(model => model.UrlVideoYoutube, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.UrlVideoYoutube, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">

        @Html.LabelFor(model => model.Foto)
        <input type="file" class="form-control-file" id="fileSubirFoto" accept="image/*" />
        <img style="max-width: 100px; max-height: 100%;" id="imagenMascota" />

        <progress id="fileProgress" style="display: none"></progress>
        @Html.HiddenFor(model => model.Foto)
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Crear" class="btn btn-default" />
        </div>
    </div>
</div>
}

<script type="text/javascript">
    $(function () {
        $.validator.unobtrusive.parse("#createForm");
        $("#fileSubirFoto").change(function () {

            var formData = new FormData();
            formData.append("file", $("#fileSubirFoto")[0].files[0]);

            $.ajax({
                url: '@Url.Action("SubirFoto", "Mascota")',
                type: 'POST',
                data: formData,
                cache: false,
                contentType: false,
                processData: false,
                success: function (data) {
                    $("#fileProgress").hide();

                    $('#Foto').val(data.nombreArchivo);
                    $('#imagenMascota').attr('src', '@Url.Content("~/Subidas/")' + data.nombreArchivo);
                    console.log(data);
                    //$("#lblMessage").html("<b>" + fileName + "</b> has been uploaded.");
                },
                xhr: function () {
                    var fileXhr = $.ajaxSettings.xhr();
                    if (fileXhr.upload) {
                        $("#fileProgress").show();
                        fileXhr.upload.addEventListener("progress", function (e) {
                            if (e.lengthComputable) {
                                $("#fileProgress").attr({
                                    value: e.loaded,
                                    max: e.total
                                });
                            }
                        }, false);
                    }
                    return fileXhr;
                },
                error: function (jqXHR, exception) {
                    $("#fileProgress").hide();
                    alert("Sucedio un error al intentar subir el archivo");
                }
            });


        });
    })
</script>

