﻿@model Zurita.Mvc.ViewModels.Mascota.MascotaViewModel

@{
    //ViewBag.Title = "Delete";
    Layout = null;
}


<h3>¿Estás seguro de eliminar la mascota?</h3>
<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nacimiento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nacimiento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Color)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Color)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Especie)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Especie)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Raza)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Raza)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sexo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sexo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EstaAdoptado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EstaAdoptado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UrlVideoYoutube)
        </dt>

        <dd>
            @if (!string.IsNullOrWhiteSpace(Model.UrlVideoYoutube))
            {
                <a href="@Model.UrlVideoYoutube" target="_blank">@Model.UrlVideoYoutube</a>
            }
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Foto)
        </dt>

        <dd>
            @if (!string.IsNullOrWhiteSpace(Model.Foto))
            {
                <a href="@Url.Content("~/Subidas/" + Model.Foto)" target="_blank"><img style="max-width: 100px; max-height: 100%;" id="imagenMascota" src="@Url.Content("~/Subidas/" + Model.Foto)" /></a>
            }
        </dd>

    </dl>



    @using (Ajax.BeginForm("Delete", new { Controller = "Mascota" },
    new AjaxOptions
    {
        HttpMethod = "POST",
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = "modal-body",
        OnSuccess = "mascota.success('delete')"
    },
    htmlAttributes: new { id = "deleteForm" })
    )
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">

            <button type="submit" class="btn btn-danger">
                <i class="icon-delete"></i>
                Eliminar
            </button>
        </div>
    }

</div>

<script type="text/javascript">
    $(function () {
        $.validator.unobtrusive.parse("#deleteForm");
    })
</script>