﻿@model Zurita.Mvc.ViewModels.Mascota.MascotaViewModel

@{
    ViewBag.Title = "Mascota";
    Layout = "~/Views/Shared/_LayoutVistaPublica.cshtml";
    var idSolicitudActual = Convert.ToInt32(ViewBag.SolicitudActual);
    var estadoActual = ViewBag.EstadoActual as string;

    var estiloSolicitar = "";
    var estiloCancelar = "display:none";

    if (estadoActual.Equals("Nuevo", StringComparison.OrdinalIgnoreCase))
    {
        estiloSolicitar = "display:none";
        estiloCancelar = "";
    }

    if (estadoActual.Equals("Rechazado", StringComparison.OrdinalIgnoreCase))
    {
        estiloSolicitar = "display:none";
        estiloCancelar = "display:none";
    }

    if (estadoActual.Equals("Aceptado", StringComparison.OrdinalIgnoreCase))
    {
        estiloSolicitar = "display:none";
        estiloCancelar = "display:none";
    }
}

@section BannerSuperior{
    <section id="page-title" data-bg-parallax="@Url.Content("~/Content/Imagenes/banner_detalle_mascota.png")"></section>

}

<input type="hidden" id="__ID" value="@Model.MascotaId" />

<input type="hidden" id="__ID_SOLICITUD" value="@idSolicitudActual" />


<input type="hidden" id="__URL_INICIAR_ADOPCION" value="@Url.Action("SolicitarAdopcion","Mascota")" />
<input type="hidden" id="__URL_CANCELAR_ADOPCION" value="@Url.Action("CancelarSolicitud","Mascota")" />

<div class="container">
    <h1>Bienvenidos</h1>
    <div class="breadcrumb titulo-simple">
        <ul>
            <li>
                <a href="@Url.Action("Index","Home")">Inicio</a>
            </li>
            <li>
                <a href="@Url.Action("DetallePublico","Mascota", new { id = Model.MascotaId })" class="active">@Model.Nombre</a>
            </li>
        </ul>
    </div>
</div>


<div class="product">
    <div class="row m-b-40">
        <div class="col-lg-5">
            <div class="product-image">
                <!-- Carousel slider -->
                <div class="carousel dots-inside dots-dark arrows-visible" data-items="1" data-loop="true" data-autoplay="true" data-animate-in="fadeIn" data-animate-out="fadeOut" data-autoplay="2500" data-lightbox="gallery">


                    <a href="@Url.Content("~/Subidas/" + Model.Foto)" data-lightbox="gallery-image">
                        <img alt="" src="@Url.Content("~/Subidas/" + Model.Foto)">
                    </a>

                </div>
                <!-- Carousel slider -->
            </div>
        </div>
        <div class="col-lg-7">
            <div class="product-description">
                <div class="product-category">@Model.Especie</div>
                <div class="product-title">
                    <h1><a href="#">@Model.Nombre</a></h1>
                </div>
                <div class="seperator m-b-10 m-t-10"></div>
                <p>
                    @Model.Descripcion
                </p>
                <div class="seperator m-t-20 m-b-10"></div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <h3>Adoptar</h3>
                    @if (Request.IsAuthenticated)
                    {
                        <a class="btn" id="btnSolicitar" href="javascript:void(0);" onclick="detallePublico.iniciarAdopcion();" style="@estiloSolicitar"> Iniciar Adopción</a>

                        <a class="btn btn-danger" id="btnCancelar" href="javascript:void(0);" onclick="detallePublico.cancelarAdopcion();" style="@estiloCancelar"> Cancelar Adopción</a>

                    }
                    else
                    {
                        <p>
                            Debe de <a href="@Url.Action("Login", "Account")">ingresar</a> con su usuario para poder iniciar la adopción. También puede crearse un usuario <a href="@Url.Action("Registro", "Account")">aquí</a>
                        </p>
                    }
                </div>
            </div>
        </div>
    </div>
    <!-- Product additional tabs -->
    <div class="tabs tabs-folder">
        <ul class="nav nav-tabs" id="myTab3" role="tablist">
            <li class="nav-item">
                <a class="nav-link active show" id="profile-tab" data-toggle="tab" href="#profile3" role="tab" aria-controls="profile" aria-selected="true">
                    <i class="fa fa-align-justify"></i>Información Adicional
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact3" role="tab" aria-controls="contact" aria-selected="false"><i class="fa fa-video"></i>Video</a>
            </li>
        </ul>
        <div class="tab-content" id="myTabContent3">
            <div class="tab-pane fade active show" id="profile3" role="tabpanel" aria-labelledby="profile-tab">
                <table class="table table-striped table-bordered">
                    <tbody>
                        <tr>
                            <td>Nacimiento</td>
                            <td>@Model.Nacimiento</td>
                        </tr>
                        <tr>
                            <td>Color</td>
                            <td>@Model.Color</td>
                        </tr>
                        <tr>
                            <td>Sexo</td>
                            <td>
                                @if ("H".Equals(@Model.Sexo, StringComparison.OrdinalIgnoreCase))
                                {
                                    <span>Hembra</span>
                                }
                                else if ("M".Equals(@Model.Sexo, StringComparison.OrdinalIgnoreCase))
                                {
                                    <span>Macho</span>
                                }
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="tab-pane fade" id="contact3" role="tabpanel" aria-labelledby="contact-tab">
                @if (!string.IsNullOrWhiteSpace(Model.UrlVideoYoutube))
                {
                    <iframe width="560" height="315" src="@Model.UrlVideoYoutube" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>


                }
                else
                {
                    <p>No hay video relacionado a esta mascota</p>
                }
            </div>
        </div>
    </div>
    <!-- end: Product additional tabs -->
</div>

@section Scripts {


    <script src="~/Content/js/detallePublico.js" type="text/javascript"></script>

}
