﻿@model Zurita.Mvc.ViewModels.Mascota.MascotaViewModel

@{
    //ViewBag.Title = "Detalle";
    Layout = null;
}

@*<h2>Detalle Mascota</h2>*@

<div>
    @*<h4>Mascota</h4>
        <hr />*@
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descripcion)
        </dd>


        <dt>
            @Html.DisplayNameFor(model => model.Nacimiento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nacimiento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Color)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Color)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Especie)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Especie)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Raza)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Raza)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sexo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sexo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EstaAdoptado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EstaAdoptado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UrlVideoYoutube)
        </dt>

        <dd>
            @if (!string.IsNullOrWhiteSpace(Model.UrlVideoYoutube))
            {
                <a href="@Model.UrlVideoYoutube" target="_blank">@Model.UrlVideoYoutube</a>
            }
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Foto)
        </dt>

        <dd>
            @if (!string.IsNullOrWhiteSpace(Model.Foto))
            {
                <a href="@Url.Content("~/Subidas/" + Model.Foto)" target="_blank"><img style="max-width: 100px; max-height: 100%;" id="imagenMascota" src="@Url.Content("~/Subidas/" + Model.Foto)" /></a>
            }
        </dd>

    </dl>
</div>
@*<p>
        @Html.ActionLink("Editar", "Edit", new { id = Model.MascotaId }) |
        @Html.ActionLink("Volver a Lista", "Index")
    </p>*@
