﻿
@{
    ViewBag.Title = "Admin Mascotas";
    Layout = "~/Views/Shared/_LayoutVistaPublica.cshtml";
}

<input type="hidden" id="__URL_LISTA" value="@Url.Action("Lista","Mascota")" />

<div class="container">
    <h1>Mascotas</h1>
    <div class="breadcrumb titulo-simple">
        <ul>
            <li>
                <a href="javascript:void(0);">Administración</a>
            </li>
            <li>
                <a href="@Url.Action("Index","Mascota")" class="active">Mascotas</a>
            </li>
        </ul>
    </div>
</div>

@Messages.AlertMessages()



<p>
    <a href="#" onclick="cibertec.getModal('@Url.Action("Create")'); return false;"
       data-toggle="modal" data-target="#modal-container" class="btn btn-success btn-sm">
        <i class="icon-plus"></i>
        Nuevo
    </a>
</p>


<div class="contenido"></div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")


    <script src="~/Content/js/cibertec.js" type="text/javascript"></script>
    <script src="~/Content/js/mascota.js" type="text/javascript"></script>

    @Modal.GetModal("Mascota", null)
}