﻿@model IEnumerable<Zurita.Mvc.ViewModels.Mascota.MascotaViewModel>
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nacimiento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Color)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Especie)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Raza)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sexo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EstaAdoptado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UrlVideoYoutube)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Foto)
            </th>
            <th></th>
        </tr>

    </thead>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nacimiento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Color)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Especie)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Raza)
            </td>
            <td>
                @if ("H".Equals(item.Sexo, StringComparison.OrdinalIgnoreCase))
                {
                    <span>Hembra</span>
                }
                else if ("M".Equals(item.Sexo, StringComparison.OrdinalIgnoreCase))
                {
                    <span>Macho</span>
                }
            </td>
            <td>
                @if (item.EstaAdoptado)
                {
                    <span>Sí</span>
                }
                else
                {
                    <span>No</span>
                }
            </td>
            <td>
                @if (!string.IsNullOrWhiteSpace(item.UrlVideoYoutube))
                {
                <a href="@item.UrlVideoYoutube" target="_blank">@item.UrlVideoYoutube</a>
                }

            </td>
            <td>
                @if (!string.IsNullOrWhiteSpace(item.Foto))
                {
                    <a href="@Url.Content("~/Subidas/" + item.Foto)" target="_blank"><img style="max-width: 100px; max-height: 100%;" src="@Url.Content("~/Subidas/" + item.Foto)" /></a>
                }
            </td>
            <td>

                <a class="btn btn-success" data-target="#modal-container" data-toggle="modal" href="javascript:void(0);"
                   onclick="cibertec.getModal('@Url.Action("Details", new{id=item.MascotaId})'); return false;">
                    <i class="icon-file-text"></i>
                    Detalle
                </a>



                <a class="btn" data-target="#modal-container" data-toggle="modal" href="javascript:void(0);"
                   onclick="cibertec.getModal('@Url.Action("Edit", new{id=item.MascotaId})'); return false;">
                    <i class="icon-edit"></i>
                    Editar
                </a>

                <a class="btn btn-danger" data-target="#modal-container" data-toggle="modal" href="javascript:void(0);"
                   onclick="cibertec.getModal('@Url.Action("Delete", new{id=item.MascotaId})'); return false;">
                    <i class="icon-delete"></i>
                    Eliminar
                </a>

            </td>
        </tr>
    }

</table>
