﻿@model Zurita.Mvc.ViewModels.Usuario.UsuarioViewModel


<h2>Editar Usuario</h2>

@using (Ajax.BeginForm("Edit", new { Controller = "Usuario" },
    new AjaxOptions
    {
        HttpMethod = "POST",
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = "modal-body",
        OnSuccess = "usuario.success('edit');"
    },
    htmlAttributes: new { id = "editForm" })
    )
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Username)

        <div class="form-group">

            @Html.LabelFor(model => model.Username)
            @Html.TextBoxFor(model => model.Username, new { @class = "form-control", @placeholder = "Usuario", @readonly = "readonly" })

        </div>

        <div class="form-group">

            @Html.LabelFor(model => model.Nombres)
            @Html.TextBoxFor(model => model.Nombres, new { @class = "form-control", @placeholder = "Nombres" })
            @Html.ValidationMessageFor(model => model.Nombres, "", new { @class = "text-danger" })

        </div>

        <div class="form-group">

            @Html.LabelFor(model => model.Apellidos)
            @Html.TextBoxFor(model => model.Apellidos, new { @class = "form-control", @placeholder = "Apellidos" })
            @Html.ValidationMessageFor(model => model.Apellidos, "", new { @class = "text-danger" })

        </div>

        <div class="form-group">

            @Html.LabelFor(model => model.Telefono)
            @Html.TextBoxFor(model => model.Telefono, new { @class = "form-control", @placeholder = "Teléfono" })
            @Html.ValidationMessageFor(model => model.Telefono, "", new { @class = "text-danger" })

        </div>

        <div class="form-group">


            @Html.LabelFor(model => model.Direccion)
            @Html.TextAreaFor(model => model.Direccion, new { @class = "form-control", @placeholder = "Dirección", @style = "resize: none;" })
            @Html.ValidationMessageFor(model => model.Direccion, "", new { @class = "text-danger" })

        </div>

        <div class="form-group">

            @Html.LabelFor(model => model.Email)
            @Html.TextBoxFor(model => model.Email, new { @class = "form-control", @placeholder = "Email" })
            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })

        </div>

        <div class="form-group">

            @Html.LabelFor(model => model.Password)
            @Html.PasswordFor(model => model.Password, new { @class = "form-control", @placeholder = "Contraseñia" })
            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })

        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.EsAdministrador)
            <div class="checkbox">
                @Html.EditorFor(model => model.EsAdministrador)
                @Html.ValidationMessageFor(model => model.EsAdministrador, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Guardar" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<script type="text/javascript">
    $(function () {
        $.validator.unobtrusive.parse("#editForm");
    });

</script>