﻿@model IEnumerable<Zurita.Mvc.ViewModels.Usuario.UsuarioViewModel>
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Username)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombres)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Apellidos)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefono)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Direccion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EsAdministrador)
            </th>
            <th></th>
        </tr>

    </thead>

    @foreach (var item in Model)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Username)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nombres)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Apellidos)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Telefono)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Direccion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @if (item.EsAdministrador)
            {
                <span>Sí</span>
            }
            else
            {
                <span>No</span>
            }
        </td>
        <td>

            <a class="btn btn-success" data-target="#modal-container" data-toggle="modal" href="javascript:void(0);"
               onclick="cibertec.getModal('@Url.Action("Details", new{id=item.Username})'); return false;">
                <i class="icon-file-text"></i>
                Detalle
            </a>



            <a class="btn" data-target="#modal-container" data-toggle="modal" href="javascript:void(0);"
               onclick="cibertec.getModal('@Url.Action("Edit", new{id=item.Username})'); return false;">
                <i class="icon-edit"></i>
                Editar
            </a>

            <a class="btn btn-danger" data-target="#modal-container" data-toggle="modal" href="javascript:void(0);"
               onclick="cibertec.getModal('@Url.Action("Delete", new{id=item.Username})'); return false;">
                <i class="icon-delete"></i>
                Eliminar
            </a>

        </td>
    </tr>
    }

</table>

