﻿@model Zurita.Mvc.ViewModels.VisitaMedica.VisitaMedicaViewModel

@{
    //ViewBag.Title = "Crear";
    Layout = null;
}

<h2>Nueva Visita Médica</h2>


@using (Ajax.BeginForm("Create", new { Controller = "VisitaMedica" },
    new AjaxOptions
    {
        HttpMethod = "POST",
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = "modal-body",
        OnSuccess = "visitaMedica.success('create')"
    },
    htmlAttributes: new { id = "createForm" })
    )
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(model => model.Motivo)
            @Html.TextAreaFor(model => model.Motivo, new { @class = "form-control", @placeholder = "Motivo", @style = "resize:none" })
            @Html.ValidationMessageFor(model => model.Motivo, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Medico)
            @Html.TextBoxFor(model => model.Medico, new { @class = "form-control", @placeholder = "Médico" })
            @Html.ValidationMessageFor(model => model.Medico, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Fecha)
            @Html.TextBoxFor(model => model.Fecha, new { @class = "form-control", @placeholder = "Fecha", @type = "date" })
            @Html.ValidationMessageFor(model => model.Fecha, "", new { @class = "text-danger" })

        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CondicionCorporal)
            @Html.TextAreaFor(model => model.CondicionCorporal, new { @class = "form-control", @placeholder = "Condición Corporal", @style = "resize:none" })
            @Html.ValidationMessageFor(model => model.CondicionCorporal, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Diagnostico)
            @Html.TextAreaFor(model => model.Diagnostico, new { @class = "form-control", @placeholder = "Diagnóstico", @style = "resize:none" })
            @Html.ValidationMessageFor(model => model.Diagnostico, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Tratamiento)
            @Html.TextAreaFor(model => model.Tratamiento, new { @class = "form-control", @placeholder = "Tratamiento", @style = "resize:none" })
            @Html.ValidationMessageFor(model => model.Tratamiento, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MascotaId)
            @Html.DropDownListFor(m => m.MascotaId, ViewBag.Mascotas as List<SelectListItem>, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.MascotaId, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Crear" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<script type="text/javascript">
    $(function () {
        $.validator.unobtrusive.parse("#createForm");
    })
</script>
