﻿@model Zurita.Mvc.ViewModels.VisitaMedica.VisitaMedicaViewModel

@{
    //ViewBag.Title = "Eliminar";
    Layout = null;
}

<h2>Eliminar</h2>

<h3>¿Estás seguro de eliminar esto?</h3>
<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.VisitaMedicaId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VisitaMedicaId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Motivo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Motivo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Medico)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Medico)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fecha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fecha)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CondicionCorporal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CondicionCorporal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Diagnostico)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Diagnostico)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tratamiento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tratamiento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MascotaId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MascotaId)
        </dd>

    </dl>


    @using (Ajax.BeginForm("Delete", new { Controller = "VisitaMedica" },
    new AjaxOptions
    {
        HttpMethod = "POST",
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = "modal-body",
        OnSuccess = "visitaMedica.success('delete')"
    },
    htmlAttributes: new { id = "deleteForm" })
    )
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">

            <button type="submit" class="btn btn-danger">
                <i class="icon-delete"></i>
                Eliminar
            </button>
        </div>
    }

</div>

<script type="text/javascript">
    $(function () {
        $.validator.unobtrusive.parse("#deleteForm");
    })
</script>