﻿@model Zurita.Mvc.ViewModels.VisitaMedica.VisitaMedicaViewModel

@{
    ViewBag.Title = "Detalle";
    Layout = null;
}


<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.VisitaMedicaId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VisitaMedicaId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Motivo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Motivo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Medico)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Medico)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fecha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fecha)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CondicionCorporal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CondicionCorporal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Diagnostico)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Diagnostico)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tratamiento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tratamiento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MascotaId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MascotaId)
        </dd>

    </dl>
</div>
