﻿

@{
    ViewBag.Title = "Lista";
    Layout = "~/Views/Shared/_LayoutVistaPublica.cshtml";
}

<input type="hidden" id="__URL_LISTA" value="@Url.Action("Lista","VisitaMedica")" />


<div class="container">
    <h1>Visitas Médicas</h1>
    <div class="breadcrumb titulo-simple">
        <ul>
            <li>
                <a href="javascript:void(0);">Administración</a>
            </li>
            <li>
                <a href="@Url.Action("Index","VisitaMedica")" class="active">Visitas Médicas</a>
            </li>
        </ul>
    </div>
</div>

@Messages.AlertMessages()


<p>
    <a href="#" onclick="cibertec.getModal('@Url.Action("Create")'); return false;"
       data-toggle="modal" data-target="#modal-container" class="btn btn-success btn-sm">
        <i class="icon-plus"></i>
        Nuevo
    </a>
</p>


<div class="contenido"></div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")


    <script src="~/Content/js/cibertec.js" type="text/javascript"></script>
    <script src="~/Content/js/visitaMedica.js" type="text/javascript"></script>

    <script src="~/Scripts/jquery.signalR-2.4.1.js"></script>
    <script src="/signalr/hubs"></script>


    <script type="text/javascript">
        $(function () {
            var visitaMedicaHub = $.connection.visitaMedicaHub;

            $.connection.hub.start().done(function () {
                console.log('Connected to hub..');
            })
        })
    </script>

    @Modal.GetModal("Visita Médica", null)
}



