﻿@model IEnumerable<Zurita.Mvc.ViewModels.VisitaMedica.VisitaMedicaViewModel>

<table class="table">
    <thead class="thead-dark">

        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Motivo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Medico)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fecha)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CondicionCorporal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Diagnostico)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tratamiento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MascotaId)
            </th>
            <th></th>
        </tr>
    </thead>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Motivo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Medico)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fecha)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CondicionCorporal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Diagnostico)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tratamiento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MascotaId)
            </td>
            <td>

                <a class="btn btn-success" data-target="#modal-container" data-toggle="modal" href="javascript:void(0);"
                   onclick="cibertec.getModal('@Url.Action("Details", new{id=item.VisitaMedicaId})'); return false;">
                    <i class="icon-file-text"></i>
                    Detalle
                </a>



                <a class="btn" data-target="#modal-container" data-toggle="modal" href="javascript:void(0);"
                   onclick="cibertec.getModal('@Url.Action("Edit", new{id=item.VisitaMedicaId})'); return false;">
                    <i class="icon-edit"></i>
                    Editar
                </a>

                <a class="btn btn-danger" data-target="#modal-container" data-toggle="modal" href="javascript:void(0);"
                   onclick="cibertec.getModal('@Url.Action("Delete", new{id=item.VisitaMedicaId})'); return false;">
                    <i class="icon-delete"></i>
                    Eliminar
                </a>

            </td>
        </tr>
    }

</table>