﻿@model Zurita.Mvc.ViewModels.MisAdopciones.MiAdopcionViewModel
@{
    ViewBag.Title = "Detalle";
    Layout = "~/Views/Shared/_LayoutVistaPublica.cshtml";
}

@section BannerSuperior{
    <section id="page-title" data-bg-parallax="@Url.Content("~/Content/Imagenes/banner_detalle_mascota.png")"></section>

}

<input type="hidden" id="__ID" value="@Model.Solicitud.SolicitudAdopcionId" />
<input type="hidden" id="__URL_CANCELAR_ADOPCION" value="@Url.Action("CancelarSolicitud","Mascota")" />

<input type="hidden" id="__URL_SOLICITUDES" value="@Url.Action("Index","MisAdopciones")" />


<div class="container">
    <h1>Adopción @Model.Mascota.Nombre</h1>
    <div class="breadcrumb titulo-simple">
        <ul>
            <li>
                <a href="@Url.Action("Index","MisAdopciones")">Mis Adopciones</a>
            </li>
            <li>
                <a href="@Url.Action("Detalle","MisAdopciones", new { id = Model.Solicitud.SolicitudAdopcionId })" class="active">@Model.Mascota.Nombre</a>
            </li>
        </ul>
    </div>
</div>

<div class="product">


    <div class="tabs tabs-folder">
        <ul class="nav nav-tabs" id="myTab3" role="tablist">
            <li class="nav-item">
                <a class="nav-link active show" id="profile-tab" data-toggle="tab" href="#profile3" role="tab" aria-controls="profile" aria-selected="true">
                    <i class="fa fa-align-justify"></i>Adopción
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact3" role="tab" aria-controls="contact" aria-selected="false"><i class="fa fa-info"></i>Mascota</a>
            </li>
        </ul>
        <div class="tab-content" id="myTabContent3">
            <div class="tab-pane fade active show" id="profile3" role="tabpanel" aria-labelledby="profile-tab">

                <table class="table table-striped table-bordered">
                    <tbody>
                        <tr>
                            <td>Fecha</td>
                            <td>@Model.Solicitud.Fecha</td>
                        </tr>
                        <tr>
                            <td>Motivo</td>
                            <td>@Model.Solicitud.Motivo</td>
                        </tr>
                        <tr>
                            <td>Estado</td>
                            <td>@Model.Solicitud.Estado</td>
                        </tr>
                    </tbody>
                </table>

                @if (Model.Solicitud.Estado.Equals("Nuevo", StringComparison.OrdinalIgnoreCase))
                {
                    <a class="btn btn-danger" onclick="detalleSolicitud.cancelarAdopcion();">Cancelar Solicitud</a>
                }

            </div>
            <div class="tab-pane fade" id="contact3" role="tabpanel" aria-labelledby="contact-tab">

                <div class="row m-b-40">
                    <div class="col-lg-5">
                        <div class="product-image">
                            <img alt="" src="@Url.Content("~/Subidas/" + Model.Mascota.Foto)">
                        </div>
                    </div>
                    <div class="col-lg-7">
                        <div class="product-description">
                            <div class="product-category">@Model.Mascota.Especie</div>
                            <div class="product-title">
                                <h1><a href="#">@Model.Mascota.Nombre</a></h1>
                            </div>
                            <div class="seperator m-b-10 m-t-10"></div>
                            <p>
                                @Model.Mascota.Descripcion
                            </p>
                            <div class="seperator m-t-20 m-b-10"></div>
                        </div>
                    </div>
                </div>

                <table class="table table-striped table-bordered">
                    <tbody>
                        <tr>
                            <td>Nacimiento</td>
                            <td>@Model.Mascota.Nacimiento</td>
                        </tr>
                        <tr>
                            <td>Color</td>
                            <td>@Model.Mascota.Color</td>
                        </tr>
                        <tr>
                            <td>Sexo</td>
                            <td>
                                @if ("H".Equals(@Model.Mascota.Sexo, StringComparison.OrdinalIgnoreCase))
                                {
                                    <span>Hembra</span>
                                }
                                else if ("M".Equals(@Model.Mascota.Sexo, StringComparison.OrdinalIgnoreCase))
                                {
                                    <span>Macho</span>
                                }
                            </td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div>

</div>
@section Scripts {


    <script src="~/Content/js/detalleSolicitud.js" type="text/javascript"></script>

}