﻿@model IEnumerable<Zurita.Mvc.ViewModels.SolicitudAdopcion.SolicitudAdopcionViewModel>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutVistaPublica.cshtml";
}

<div class="container">
    <h1>Mi adopciones</h1>
    <div class="breadcrumb titulo-simple">
        <ul>
            <li>
                <a href="javascript:void(0);">Mi usuario</a>
            </li>
            <li>
                <a href="@Url.Action("Index","MisAdopciones")" class="active">Mis adopciones</a>
            </li>
        </ul>
    </div>
</div>

<table class="table">
    <thead class="thead-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Motivo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fecha)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Mascota)
            </th>
            <th></th>
        </tr>

    </thead>


    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Motivo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fecha)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Mascota)
            </td>
            <td>

                <a class="btn btn-success" href="@Url.Action("Detalle","MisAdopciones", new { id = item.SolicitudAdopcionId })">
                    <i class="icon-file-text"></i>
                    Detalle
                </a>

            </td>
        </tr>
    }

</table>