﻿@{
    ViewBag.Title = "Bienvenidos";
    Layout = "~/Views/Shared/_LayoutVistaPublica.cshtml";
}

<input type="hidden" id="__URL_LISTA" value="@Url.Action("Mascotas","Home")" />

@section BannerSuperior{
    <section id="page-title" data-bg-parallax="@Url.Content("~/Content/Imagenes/banner_index.png")"></section>

}

<div class="container">
    <h1>Bienvenidos</h1>
    <div class="breadcrumb titulo-simple">
        <ul>
            <li>
                <a href="javascript:void(0);">Inicio</a>
            </li>
            <li>
                <a href="@Url.Action("Index","Home")" class="active">Bienvenidos</a>
            </li>
        </ul>
    </div>
</div>

<p>
    Todos ellos están esperando la oportunidad de formar parte de una familia.  Conoce un poco más sobre su personalidad y otros detalles importantes.
</p>


<div class="form-row">
    <div class="form-group col-md-4">
        @Html.DropDownList("Especies", ViewBag.Especies as List<SelectListItem>, new { @class = "form-control", @id = "ddlEspecies" })

    </div>
    <div class="form-group col-md-4">
        @Html.DropDownList("Sexo", ViewBag.Sexos as List<SelectListItem>, new { @class = "form-control", @id = "ddlSexo" })
    </div>
    <div class="form-group col-md-4">
        <button class="btn" onclick="home.cargarDatos()">Filtrar</button>
        <button class="btn btn-success" onclick="home.limpiar()">Limpiar</button>
    </div>
</div>

<div id="blog" class=" post-3-columns m-b-30" data-item="post-item">
</div>

@section Scripts {


    <script src="~/Content/js/home.js" type="text/javascript"></script>

}
