﻿@model IEnumerable<Zurita.Mvc.ViewModels.Mascota.MascotaViewModel>

@foreach (var item in Model)
{
    <div class="post-item border" style="padding: 0px 20px 20px 0px;">
        <div class="post-item-wrap">
            <div class="post-slider">
                <a href="@Url.Action("DetallePublico","Mascota", new { id = item.MascotaId })"><img alt="" src="@Url.Content("~/Subidas/" + item.Foto)"></a>
                <span class="post-meta-category"><a href="">@item.Especie</a></span>
            </div>
            <div class="post-item-description">
                <h2><a href="@Url.Action("DetallePublico","Mascota", new { id = item.MascotaId })">@item.Nombre</a></h2>
                <p>@item.Descripcion</p>
                <a href="@Url.Action("DetallePublico","Mascota", new { id = item.MascotaId })" class="item-link">Ver más <i class="icon-chevron-right"></i></a>
            </div>
        </div>
    </div>

}
