﻿
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="author" content="INSPIRO" />
    <meta name="description" content="Themeforest Template Polo, html template">
    <link rel="icon" type="image/png" href="images/favicon.png">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Document title -->
    <title>MASCOTAS - @ViewBag.Title</title>
    <!-- Stylesheets & Fonts -->
    <link href="~/Content/Temas/Publico/css/plugins.css" rel="stylesheet">
    <link href="~/Content/Temas/Publico/css/style.css" rel="stylesheet">
    <link href="~/Content/Temas/Publico/css/plugins.css" rel="stylesheet">

    <link href="~/Content/css/public.css" rel="stylesheet">

</head>
<body>
    <div class="body-inner">

        <header id="header" data-transparent="true" data-fullwidth="true">
            <div class="header-inner">
                <div class="container">
                    <!--Logo-->
                    <div id="logo">
                        <a href="@Url.Action("Index", "Home")">
                            <span class="logo-default">MASCOTAS</span>
                            <span class="logo-dark">MASCOTAS</span>
                        </a>
                    </div>
                    <!--End: Logo-->
                    <!-- Search -->
                    <!-- end: search -->
                    <!--Header Extras-->
                    <!--end: Header Extras-->
                    <!--Navigation Resposnive Trigger-->
                    <div id="mainMenu-trigger">
                        <a class="lines-button x"><span class="lines"></span></a>
                    </div>
                    <!--end: Navigation Resposnive Trigger-->
                    <!--Navigation-->
                    <div id="mainMenu">
                        <div class="container">
                            <nav>
                                @*@Html.Partial("_Menu")*@

                                @Html.Action("MenuInfo", "Account")
                            </nav>
                        </div>
                    </div>
                    <!--END: NAVIGATION-->
                </div>
            </div>
        </header>

        @RenderSection("BannerSuperior", required: false)

        <section id="page-content">
            <div class="container">
                @RenderBody()
            </div>
        </section>
        <footer id="footer">
            <div class="copyright-content">
                <div class="container">
                    <div class="copyright-text text-center">&copy; 2020 MASCOTAS - Todos los derechos reservados.<a href="//www.inspiro-media.com" target="_blank" rel="noopener"> INSPIRO</a> </div>
                </div>
            </div>
        </footer>

    </div>


    <a id="scrollTop"><i class="icon-chevron-up"></i><i class="icon-chevron-up"></i></a>
    <!--Plugins-->
    <script src="~/Content/Temas/Publico/js/jquery.js"></script>
    <script src="~/Content/Temas/Publico/js/plugins.js"></script>
    <script src="~/Scripts/sweetalert2.js"></script>
    <!--Template functions-->
    <script src="~/Content/Temas/Publico/js/functions.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
