﻿<ul>
    <li><a href="@Url.Action("Index","Home")">Inicio</a></li>
    <li><a href="index.html">Mascotas</a></li>

    @if (!Request.IsAuthenticated)
    {
        <li class="dropdown">
            <a href="@Url.Action("Login", "Account")">Acceso</a>
            <ul class="dropdown-menu">
                <li><a href="@Url.Action("Login", "Account")">Ingreso</a></li>
                <li><a href="@Url.Action("Registro", "Account")">Registro Usuario</a></li>
            </ul>
        </li>
    }

    @if (Request.IsAuthenticated)
    {
        <li class="dropdown">
            <a href="javascript:void(0);">Administración</a>
            <ul class="dropdown-menu">
                <li><a href="@Url.Action("Index", "Mascota")">Mascotas</a></li>
                <li><a href="@Url.Action("Index", "SolicitudAdopcion")">Solicitudes</a></li>
                <li><a href="@Url.Action("Index", "VisitaHogar")">Visitas Hogar</a></li>
                <li><a href="@Url.Action("Index", "VisitaMedica")">Visitas Médicas</a></li>
                <li><a href="@Url.Action("Index", "Usuario")">Usuarios</a></li>

            </ul>
        </li>
    }


    @if (Request.IsAuthenticated)
    {
        <li class="dropdown">
            <a href="javascript:void(0);">Mi Usuario</a>
            <ul class="dropdown-menu">
                <li><a href="index.html">Mi Usuario</a></li>
                <li><a href="index.html">Mis Adopciones</a></li>
                <li><a href="@Url.Action("Logout", "Account")">Salir</a></li>
            </ul>
        </li>
    }

</ul>
