﻿@model IEnumerable<Zurita.Mvc.ViewModels.SolicitudAdopcion.SolicitudAdopcionViewModel>

@{
    ViewBag.Title = "Solicitudes Adopción";
    Layout = "~/Views/Shared/_LayoutVistaPublica.cshtml";
}

<h2>Solicitudes Adopción</h2>

<p>
    @Html.ActionLink("Crear", "Create", new { }, new { @class = "btn" })
</p>
<table class="table">

    <thead class="thead-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Motivo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fecha)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Direccion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombres)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ApellidoPaterno)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ApellidoMaterno)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Mascota)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Username)
            </th>

            <th></th>
        </tr>

    </thead>



    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Motivo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fecha)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Direccion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombres)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ApellidoPaterno)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ApellidoMaterno)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Mascota)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Username)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.SolicitudAdopcionId }, new { @class = "btn btn-success" })
                @Html.ActionLink("Detalle", "Details", new { id = item.SolicitudAdopcionId }, new { @class = "btn" })
                @Html.ActionLink("Eliminar", "Delete", new { id = item.SolicitudAdopcionId }, new { @class = "btn btn-danger" })
            </td>
        </tr>
    }

</table>
