﻿@model Zurita.Mvc.ViewModels.VisitaHogar.VisitaHogarViewModel

@{
    ViewBag.Title = "Detalle";
    Layout = "~/Views/Shared/_LayoutVistaPublica.cshtml";
}

<h2>Detalle</h2>

<div>
    <h4>Visita Hogar</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.VisitaHogarId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VisitaHogarId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Motivo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Motivo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fecha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fecha)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Direccion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Direccion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Observacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Observacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MascotaId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MascotaId)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.VisitaHogarId }) |
    @Html.ActionLink("Volver a Lista", "Index")
</p>
