﻿@model IEnumerable<Zurita.Mvc.ViewModels.VisitaHogar.VisitaHogarViewModel>

@{
    ViewBag.Title = "Visitas Hogar";
    Layout = "~/Views/Shared/_LayoutVistaPublica.cshtml";
}

<h2>Visitas Hogar</h2>

<p>
    @Html.ActionLink("Crear Nuevo", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Motivo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fecha)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Direccion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Observacion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MascotaId)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Motivo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fecha)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Direccion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Observacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MascotaId)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.VisitaHogarId }) |
                @Html.ActionLink("Detalle", "Details", new { id = item.VisitaHogarId }) |
                @Html.ActionLink("Eliminar", "Delete", new { id = item.VisitaHogarId })
            </td>
        </tr>
    }

</table>
