﻿@helper Message(string id, string action, string type, string message)
{

    <div id="@id" class="hidden">
        <div class="alert alert-@type alert-dismissible fade show" role="alert">
            <strong>@action!</strong> @message
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
        </div>
    </div>
}

@helper AlertMessages()
{
    @Message("createMessage", "New", "success", "El cliente ha sido creado exitosamente!")
    @Message("deleteMessage", "Delete", "danger", "El cliente ha sido eliminado exitosamente!")
    @Message("editMessage", "Edit", "success", "El cliente ha sido actualizado exitosamente!")
}