﻿@helper GetModal(string title, string closeFunction)
{

    <div class="modal fade" id="modal-container" tabindex="-1" role="modal" aria-labelledby="modal-label-3" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 id="modal-label-3" class="modal-title">@title</h4>
                    <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
                </div>
                <div class="modal-body">
                </div>
            </div>
        </div>
    </div>


    if (!string.IsNullOrWhiteSpace(closeFunction))
    {
        <script type="text/javascript">
        $(document).ready(function () {
            $('#modal-container').on('hidden.bs.modal', function () {@closeFunction});

        });
        </script>
    }
}