﻿@model Zurita.Mvc.ViewModels.Account.LoginViewModel

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_LayoutVistaPublica.cshtml";
}

@section BannerSuperior{
    <section id="page-title" data-bg-parallax="@Url.Content("~/Content/Imagenes/portada_1.jpg")"></section>

}

<div class="container">
    <h1>Ingreso al Sistema</h1>
    <div class="breadcrumb titulo-simple">
        <ul>
            <li>
                <a href="javascript:void(0);">Acceso</a>
            </li>
            <li>
                <a href="@Url.Action("Login","Account")" class="active">Login</a>
            </li>
        </ul>
    </div>
</div>
<div class="row">
    <div class="col-lg-4 center no-padding">
        <div class="panel ">
            <div class="panel-body">
                <h3>Login</h3>

                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="form-group">
                        <label class="sr-only">Username or Email</label>
                        @Html.TextBoxFor(model => model.Email, new { @class = "form-control", @placeholder = "Usuario" })
                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group m-b-15">
                        <label class="sr-only">Password</label>

                        @Html.PasswordFor(model => model.Password, new { @class = "form-control", @placeholder = "Contraseña" })
                        @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })

                    </div>
                    <div class="form-group">

                        <button class="btn" type="submit">Login</button>
                    </div>

                }
            </div>
        </div>
        <p class="small">¿No tienes cuenta todavía? <a href="@Url.Action("Registro", "Account")">Crear una</a></p>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
