﻿@model Zurita.Mvc.ViewModels.Account.MiUsuarioViewModel

@{
    ViewBag.Title = "MiUsuario";
    Layout = "~/Views/Shared/_LayoutVistaPublica.cshtml";
}

<div class="container">
    <h1>Mi información de Usuario</h1>
    <div class="breadcrumb titulo-simple">
        <ul>
            <li>
                <a href="javascript:void(0);">Mi información</a>
            </li>
            <li>
                <a href="@Url.Action("MiUsuario","Account")" class="active">MiUsuario</a>
            </li>
        </ul>
    </div>
</div>



<div class="row">
    <div class="col-lg-8 center no-padding">

        <div id="mensajeSuceso" class="hidden">
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                <strong>Completado</strong> Información actualizada correctamente
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
            </div>
        </div>

        @using (Ajax.BeginForm("MiUsuario", new { Controller = "Account" },
            new AjaxOptions
            {
                HttpMethod = "POST",
                InsertionMode = InsertionMode.Replace,
                OnSuccess = "mostrarCorrecto();",
                OnBegin = "limpiarMensajes()"
            },
            htmlAttributes: new { id = "editForm" })
            )
        {
            @Html.AntiForgeryToken()

            <div class="row">
                <div class="col-lg-12">
                    <h3>Actualizar Información Usuario</h3>
                </div>

                <div class="col-lg-12">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                </div>
                <div class="col-lg-6 form-group">
                    <label>Usuario</label>
                    @Html.TextBoxFor(model => model.Username, new { @class = "form-control", @placeholder = "Usuario", @readonly = "readonly" })
                    @Html.ValidationMessageFor(model => model.Username, "", new { @class = "text-danger" })
                </div>
                <div class="col-lg-6 form-group">
                    <label>Contraseña</label>
                    @Html.PasswordFor(model => model.Password, new { @class = "form-control", @placeholder = "Contraseña", @autocomplete = "new-password" })
                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                </div>

                <div class="col-lg-6 form-group">
                    <label>Nombres</label>
                    @Html.TextBoxFor(model => model.Nombres, new { @class = "form-control", @placeholder = "Nombres" })
                    @Html.ValidationMessageFor(model => model.Nombres, "", new { @class = "text-danger" })
                </div>
                <div class="col-lg-6 form-group">
                    <label>Apellidos</label>
                    @Html.TextBoxFor(model => model.Apellidos, new { @class = "form-control", @placeholder = "Apellidos" })
                    @Html.ValidationMessageFor(model => model.Apellidos, "", new { @class = "text-danger" })
                </div>
                <div class="col-lg-12 form-group">
                    <label>Dirección</label>
                    @Html.TextAreaFor(model => model.Direccion, new { @class = "form-control", @placeholder = "Dirección", @style = "resize : none" })
                    @Html.ValidationMessageFor(model => model.Direccion, "", new { @class = "text-danger" })
                </div>

                <div class="col-lg-6 form-group">
                    <label>Correo</label>
                    @Html.TextBoxFor(model => model.Email, new { @class = "form-control", @placeholder = "Correo" })
                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                </div>
                <div class="col-lg-6 form-group">
                    <label>Teléfono</label>
                    @Html.TextBoxFor(model => model.Telefono, new { @class = "form-control", @placeholder = "Teléfono" })
                    @Html.ValidationMessageFor(model => model.Telefono, "", new { @class = "text-danger" })
                </div>
                <div class="col-lg-12 form-group">
                    <button class="btn" type="submit">Actualizar</button>
                </div>
            </div>

        }

    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script type="text/javascript">
        $(function () {
            $.validator.unobtrusive.parse("#editForm");
        });

        function limpiarMensajes() {
            $('#mensajeSuceso').hide();
        }

        function mostrarCorrecto() {
            $('#mensajeSuceso').show();
        }

    </script>

}
