﻿@model Zurita.Mvc.ViewModels.Account.RegistrarUsuarioViewModel
@{
    ViewBag.Title = "Registro";
    Layout = "~/Views/Shared/_LayoutVistaPublica.cshtml";
}

@section BannerSuperior{
    <section id="page-title" data-bg-parallax="@Url.Content("~/Content/Imagenes/portada_1.jpg")"></section>

}

<div class="container">
    <h1>Registro al sistema</h1>
    <div class="breadcrumb titulo-simple">
        <ul>
            <li>
                <a href="javascript:void(0);">Acceso</a>
            </li>
            <li>
                <a href="@Url.Action("Registro","Account")" class="active">Registrar</a>
            </li>
        </ul>
    </div>
</div>


<div class="row">
    <div class="col-lg-8 center no-padding">

        @using (Html.BeginForm("Registro", "Account", FormMethod.Post, new { @class = "form-transparent-grey" }))
        {
            @Html.AntiForgeryToken()

            <div class="row">
                <div class="col-lg-12">
                    <h3>Registrar nuevo Usuario</h3>
                    <p>Crear una cuenta para poder iniciar una solicitud de adopción</p>
                </div>

                <div class="col-lg-12">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                </div>


                <div class="col-lg-6 form-group">
                    <label class="sr-only">Nombres</label>
                    @Html.TextBoxFor(model => model.Nombres, new { @class = "form-control", @placeholder = "Nombres" })
                    @Html.ValidationMessageFor(model => model.Nombres, "", new { @class = "text-danger" })
                </div>
                <div class="col-lg-6 form-group">
                    <label class="sr-only">Apellidos</label>
                    @Html.TextBoxFor(model => model.Apellidos, new { @class = "form-control", @placeholder = "Apellidos" })
                    @Html.ValidationMessageFor(model => model.Apellidos, "", new { @class = "text-danger" })
                </div>
                <div class="col-lg-6 form-group">
                    <label class="sr-only">Usuario</label>
                    @Html.TextBoxFor(model => model.Username, new { @class = "form-control", @placeholder = "Usuario" })
                    @Html.ValidationMessageFor(model => model.Username, "", new { @class = "text-danger" })
                </div>
                <div class="col-lg-6 form-group">
                    <label class="sr-only">Contraseña</label>
                    @Html.PasswordFor(model => model.Password, new { @class = "form-control", @placeholder = "Contraseña" })
                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                </div>
                <div class="col-lg-12 form-group">
                    <label class="sr-only">Dirección</label>
                    @Html.TextAreaFor(model => model.Direccion, new { @class = "form-control", @placeholder = "Dirección", @style = "resize : none" })
                    @Html.ValidationMessageFor(model => model.Direccion, "", new { @class = "text-danger" })
                </div>

                <div class="col-lg-6 form-group">
                    <label class="sr-only">Correo</label>
                    @Html.TextBoxFor(model => model.Email, new { @class = "form-control", @placeholder = "Correo" })
                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                </div>
                <div class="col-lg-6 form-group">
                    <label class="sr-only">Teléfono</label>
                    @Html.TextBoxFor(model => model.Telefono, new { @class = "form-control", @placeholder = "Teléfono" })
                    @Html.ValidationMessageFor(model => model.Telefono, "", new { @class = "text-danger" })
                </div>
                <div class="col-lg-12 form-group">
                    <button class="btn" type="submit">Registrar</button>
                </div>
            </div>

        }

    </div>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

